:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colorFav {
    background-color: rgb(252, 169, 186);
    color: rgb(9, 170, 154);

}

.section__series {
    display: flex;
   
    flex-direction: row-reverse;
    gap: 50px
}